{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": "[_a-zA-Z0-9]+",
    "selector-id-pattern": "[_a-zA-Z0-9]+",
    "no-empty-source": null,
    "declaration-empty-line-before": null,
    "keyframes-name-pattern": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["tailwind", "import"]
    }],
    "at-rule-empty-line-before": ["always", {
      "ignore": ["first-nested", "after-comment", "blockless-after-blockless"],
      "ignoreAtRules": ["tailwind", "layer"]
    }],
    "custom-property-empty-line-before": ["always", {
      "ignore": ["first-nested"],
      "except": ["after-custom-property"]
    }],
    "rule-empty-line-before": ["always", {
      "ignore": ["after-comment", "first-nested"]
    }]
  }
}

