[type='checkbox'],
[type='radio'] {
  @apply select-none appearance-none;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

[type='checkbox']:checked,
[type='radio']:checked {
  background-color: currentcolor;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  border-color: transparent;
}
