/* stylelint-disable -- Tailwind config must have such imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl px-4;
  }
}

@layer base {
  @font-face {
    font-family: 'Golos Text';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/GolosText/GolosText-Regular.woff2') format('woff2'),
      url('/fonts/GolosText/GolosText-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Golos Text';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/GolosText/GolosText-Medium.woff2') format('woff2'),
      url('/fonts/GolosText/GolosText-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Golos Text';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/GolosText/GolosText-Bold.woff2') format('woff2'),
      url('/fonts/GolosText/GolosText-Bold.woff') format('woff');
  }
}
